@charset "utf-8";
body {
	height: auto;
	background: #f2f2f2;
	font-size:12px;
	font-family:"Microsoft Yahei";
	font-weight:500;
	min-width:1280px;
}
#wrap {
	min-width: 100%;
	position: absolute;
	min-height: 100%;
	overflow: hidden;
}
/*左侧导航栏************/
.leftMeun {
	position: absolute;
	box-sizing: border-box;
	width: 160px;
	height: 100%;
	background: #3F4B5F;
	color:#fff;
}
#logoDiv {
	height: 50px;
	background: url(../../images/nav/logo.png) no-repeat;
	background-size: 100px 24px;
	background-color: #3675BA;
	background-position:center;
}
.sideMenu{
	padding:10px 5px;
}
.sideMenu p{
	height: 40px;
	line-height:40px;
	font-size:12px;
	color:#f2f2f2;
	margin:0;
	padding-left:10px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.sideMenu p.on{
	background: #2E354B;
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sideMenu p em{
	float: right;
	display: block;
	width: 30px;
	height: 32px;
	cursor: pointer;
	background: url(../../images/nav/icoAdd.png) 16px 15px no-repeat;
}
.sideMenu ul{
	display: none;
	background: #2E354B;
	margin:0;
	padding:10px 0;
	border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sideMenu ul li{
	height:30px;
	line-height:30px;
	color:#f2f2f2;
	list-style: none;	
	border-left:2px solid #2E354B;
}
.sideMenu ul li:hover>a{
	color:#65C6FE;
}
.sideMenu ul li a{
	color:#f2f2f2;
	padding-left:10px;
}
.sideMenu ul li a:hover{
    text-decoration:none;
}
.sideMenu p.on em{background-position: 16px -53px}
.select_li{
	border-left:2px solid #65C6FE !important;
}
.select_li a{
	color:#65C6FE !important;
}
/**右侧***********************/
#rightContent {
	box-sizing: border-box;
	float: left;
	box-sizing: border-box;
	padding-left: 160px;
	clear: both;
	min-width: 100%;
	min-height: 100%;
}

#rightTopNav{
	right:0;
	bottom:0;
	top:0px;
	left:160px; 
	overflow:auto;
	width: 100%; 
	height: 50px; 
	background: #fff;
}
#right_content{
	margin-top:20px;
	padding-bottom:43px;
}
#right_content_table{
	background: #fff;
}
/*页脚****/
#rightFoot{
	border-top:1px solid #ff7e00;
	width: 100%;
	text-align: center;
	height: 43px;
	line-height: 43px;
	background: #fff;
	clear: both;
	position: absolute;
	bottom: 0px;
}
#goTopBtn{
    bottom: 28px;
    cursor: pointer;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 34px;
    background: #7AA8D0;
    color:#fff;
}
#goTopBtn:hover{
	background: #337ab7;
}
.dropdown .dropdown-toggle{
	padding:0;
}